<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppSecret</key>
	<string>f5d79277-b1c1-430c-bc9b-ef82bd9999aa
f5d79277-b1c1-430c-bc9b-ef82bd9999aa</string>
	<key>EnablePushInJavascript</key>
	<true/>
</dict>
</plist>
